{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}
<div class="container px-2" style="max-width: 1400px;">
    <div class="card shadow b-1 rounded-4">
        <div class="card-img col-sm px-2 pt-2 rounded-top-4 d-flex justify-content-center">
            <img class="card-img rounded-4 spec" src="{{ listing.image_url }}" alt="listing_image">
        </div>
        <div class="card-body listig-description">
            <h1 class="card-title">{{ listing.title }}</h1>
            <br>
            <p class="card-text">{{ listing.description }}</p>
        </div>
        <div class="d-flex">
            <form action="{% url 'bid' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="number" class="form-control px-3 ms-4" name="bid" value="{{ listing.starting_bid|floatformat:2 }}" aria-label="Bid" min="{{ listing.starting_bid|floatformat:2 }}" step="1.00" required>
                    <button class="btn btn-outline-primary mt-0" type="submit">Bid</button>
                </div>
            </form>
            {% if message %}
            <div>
                <p class="text-danger ms-3 mt-2">{{ message }}</p>
              </div>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="d-flex">
                <div class="row">
                    <p class="card-text my-0">Category: {{ listing.category }}</p>
                    <p class="card-text me-auto">Current bid is {{ listing.starting_bid|floatformat:2|intcomma }} RON</p>
                </div>
                <div  class="ms-auto d-flex">
                    {% if user.is_authenticated %}
                        {% if user == listing.user %}
                            <form action="{% url 'close_listing' listing.id %}" method='POST'>
                                {% csrf_token %}
                                <button type="submit" class="btn btn-success mx-4">Close listing</button>
                            </form>
                        {% endif %}
                    <form action="{% url 'remove_from_watchlist' listing.id %}" method='POST'>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger mx-4">Remove from watchlist</button>
                    </form>
                    <form action="{% url 'add_to_watchlist' listing.id %}" method='POST'>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Add to watchlist</button>
                    </form>
                    {% endif %}
                </div>

            </div>
        </div>
    
    </div>

</div>

{% endblock body %}